---
layout: layout.html

title: Projects

---

click on the pictures to go to the links!

<section class="projects">
	
	{% assign image = "/Pictures/Projects/Balatro.jpg" %}
	{% assign title = "Acepack" %}
	{% assign description = "A vanilla-esque balatro mod that adds a few Jokers based on things I like." %}
	{% assign url = "https://github.com/6543ozne/Acepack_new" %}
	{% include 'components/card.liquid' %}

	{% assign image = "/Pictures/Projects/Vaz1.gif" %}
	{% assign title = "Mythlite" %}
	{% assign description = "A Boneworks/Bonelab inspired MSPFA about two cats who run a video game store" %}
	{% assign url = "https://mspfa.com/?s=63438&p=1" %}
	{% include 'components/card.liquid' %}

</section>

