---json
{
  "permalink": "rss.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "My blog",
    "description": "Blog about my thoughts and stuff",
    "language": "en",
    "base": "https://ebicthings.nekoweb.org/posts/",
    "author": {
      "name": "ebicthings"
    }
  }
}
---

<rss version="2.0">
    <channel>
        <title>{{ metadata.title }}</title>
        <description>{{ metadata.description }}</description>
        <link>{{ permalink | htmlBaseUrl(metadata.base) }}</link>

        {%- for post in collections.post | reverse %}
        {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.base) }}{% endset %}
        <item>
            <title>{{ post.data.title }}</title>
            <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | truncate(150)}}</description>
            <link>{{ absolutePostUrl }}</link>
            <guid>{{ post.fileSlug }}</guid>
            <pubDate> {{ post.date | dateToRfc822 }} </pubDate>
        </item>
        {%- endfor %}
    </channel>
</rss>
                   